*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: rgb(243, 243, 243);
}
.display-4{
    color: rgb(9, 153, 158);
    font-size: 70px; 
}
#carouselExampleFade{
    height: 500px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.carousel{
    margin-bottom: 4rem;
}
.container{
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.featurette-divider{
    margin: 5rem;
}
.center{
    text-align: center;
}
.card {
    max-width: 960px;
}
.nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



