*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: rgb(243, 243, 243);
}
h1{
    color: rgb(9, 153, 158);
}
#carouselExampleFade{
    height: 500px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.carousel{
    margin-bottom: 4rem;
}
.container{
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.featurette-divider{
    margin: 4rem;
}
.center{
    text-align: center;
}



